<%- include('./common/header') -%>
<div class="container-fluid" style="margin-top: 100px;">
    <div clas="row">
        <div class="col-md-12">
            <div style="position:absolute;right:20px;top:-70px;z-index: 1000">
                <a href="javsacript:;" id="nicheng"></a>
                <a href="javsacript:;" id="logout">退出</a>
            </div>
        </div>
    </div>
</div>
<%- include('./common/footer') -%>