#LoginArea {
  min-width: 450px;
}

.header{
    height:80px;position:fixed;width:100%;top:0px;z-index:999;background:#fff;box-shadow:0px 0px 6px rgba(93,73,84,0.3)
}
.logo img{
    height:50px;margin-top:15px;
}
.login_bg{
    width:100%;position:fixed;top:80px;bottom:60px;background:url('../images/login_bg.png') no-repeat center bottom;background-size:100% 100%;
}
.form-group{
    position:relative;
}
.form-group i {
    font-size: 24px;
    color: #ccc;
    position: absolute;
    left: 25px;
    top: 13px;
}
.form-control{
    padding-left:35px;height:44px;
}
.well{
background:#fff;border-top:2px solid #b879a6;
}
.footer{
    height:60px;background:#413745;padding:20px;width:100%;position:fixed;bottom:0px;z-index:999;
}.footer p{
    text-align:center;line-height:20px;color:#fff;
}

 .container1{
            position:absolute;
            top:0px;right:0;left:0;bottom:0px;margin:auto;
            display:flex;display: -webkit-flex;
            align-items:center;
            justify-content:flex-end;
        }
.btn1{
    background:rgba(75,155,226,1);box-shadow:0px 0px 20px rgba(75,155,226,0.8);animation-delay:800ms;
}
.btn2{
    background:rgba(90,190,86,1);box-shadow:0px 0px 20px rgba(90,190,86,0.8);animation-delay:800ms;
}
#LoginButton{
    height:44px;background:#b879a6;border-color:#b879a6;
}