<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/login.css">

</head>
<body>
<div class="header">
    <div class="container clearfix">
        <div class="logo pull-left">
            <img src="/images/logo.png" />
        </div>
        <% if(isLogin){ %>
        <div class="pull-right" style="margin-top:30px;">
            <a href="javsacript:;" id="nicheng"></a>
            <a href="javsacript:;" id="logout">退出</a>
        </div>
        <% } %>
    </div>
</div>