<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/iconfont.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section class="page">
    <header class="header">
        <div class="container pr">
            <div class="logo" style="margin-left: 50px">
                <img src="/img/logo.png"/>
            </div>
            <span class="sub pull-left">
                网络电视台
            </span>
            <div class="login_info pull-right clearfix">
                <i class="iconfont icon-yonghu pull-left"></i>
                <span class="pull-left" id="nicheng"></span>
                <b class="pull-left"></b>
                <a class="pull-left" href="javsacript:;" id="editPwd">修改密码</a>
                <b class="pull-left"></b>
                <a class="pull-left" href="javsacript:;" id="logout">退出登录</a>
            </div>
        </div>
    </header>
    <section class="content pr">
        <div class="container mt55">
            <div clas="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h2 class="panel-title pull-left" style="line-height: 34px;">用户列表</h2>
                        </div>
                        <div class="panel-body">
                            <div class="clearfix">
                                <div class="input-group pull-left">
                                    <input type="text" class="form-control" placeholder="请输入姓名搜索" id="searchName" style="width:215px">
                                    <button class="btn btn-info" type="button"  onclick="getList(1,10)">
                                        搜索
                                    </button>
                                </div>
                                <div class="input-group pull-left" style="margin-left: 15px;">
                                    <input type="text" class="form-control" placeholder="请输入用户名搜索" id="searchName1" style="width:215px">
                                    <button class="btn btn-info" type="button"  onclick="getList(1,10)">
                                        搜索
                                    </button>
                                </div>
                                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal">增加用户</button>
                                <button class="btn btn-primary pull-right" data-toggle="modal" style="margin-right:10px;" data-target="#importModal">导入用户</button>
                                <button class="btn btn-primary pull-right" style="margin-right:10px;" id="removeComment">清除评论</button>
                                <button class="btn btn-primary pull-right" style="margin-right:10px;" id="exportComment">导出评论</button>
                            </div>
                            <table class="table-hover table-bordered table" style="margin-top: 15px">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>用户名</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="list">

                                </tbody>
                            </table>
                            <div id="page" style="text-align: center;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div>版权所有：北京第二实验小学永定分校  京ICP备15007511号  京公网安备11010902000289号</div>
    </footer>
    <table id="table" style="display: none">
        <thead>
        <tr>
            <th>姓名</th>
            <th>评论内容</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody id="table_list">

        </tbody>
    </table>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/js.cookie.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/common.js"></script>
<script src="/js/jquery.tmpl.js"></script>
<script src="/js/laypage/laypage.js"></script>
<link href="/css/bootstrapValidator.min.css" rel="stylesheet">
<script src="/js/bootstrapValidator.min.js"></script>
<script src="/js/layer/layer.js"></script>
<script src="/js/moment.min.js"></script>

<link rel="stylesheet" href="/js/tableexport/dist/css/tableexport.min.css">
<script src="/js/tableexport/js/xlsx.core.min.js"></script>
<script src="/js/tableexport/js/blob.js"></script>
<script src="/js/tableexport/js/FileSaver.min.js"></script>
<script src="/js/tableexport/dist/js/tableexport.min.js"></script>

<!-- 新增用户 -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增用户</h4>
            </div>
            <form class="form-horizontal" method="post" id="create_form">
                <div class="modal-body" >
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nickName">昵称</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="nickName" name="nickName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="pwd">密码</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="pwd" name="pwd">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 编辑用户 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <form class="form-horizontal" method="post" id="edit_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="password">密码</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 导入用户 -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">导入用户</h4>
            </div>
            <form method="post" action="/user/import" enctype="multipart/form-data" class="form-horizontal" id="import_modal">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="file" id="file" name="uploadfile" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="/files/用户管理.xlsx">下载模板</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" >确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script id="item" type="text/x-jquery-tmpl">
    <tr>
        <td>${nickName}</td>
        <td>${name}</td>
        <td>
            <button type="button" class="btn-primary btn" onclick="edit('${_id}')">修改密码</button>
            <button type="button" class="btn btn-danger" onclick="remove('${_id}')">删除</button>
        </td>
    </tr>
</script>
<script id="table_item" type="text/x-jquery-tmpl">
    <tr>
        <td>${nickName}</td>
        <td>${content}</td>
        <td>${moment(createdAt).format('YYYY-MM-DD HH:mm:ss')}</td>
    </tr>
</script>
<script type="text/javascript">

    $(function(){
        var userId = Cookies.get('userId');
        var userid = userId.slice(3,userId.length-1);
        $('#editPwd').click(function(){
            edit(userid);
        })
        getList(1,10);
        $('#removeComment').click(function(){
            $.ajax({
                url:'/comment/remove',
                type:'POST',
                dataType:'json',
                data:{},
                success:function(result){
                    layer.msg('清除成功');
                }
            })
        })
        $('#exportComment').click(function(){
            $.ajax({
                url:'/comment/export',
                type:'POST',
                dataType:'json',
                data:{},
                success:function(result){
                    $('#table_item').tmpl(result).appendTo('#table_list');
                    $("#table").tableExport({ formats: ["xlsx"], bootstrap: false, fileName: '评论列表'+moment(new Date()).format('YYYY-MM-DD HH:mm:ss') });
                    $("button[data-fileblob]").trigger("click");
                }
            })
        })
        $('#create_form').bootstrapValidator({
            fields:{
                nickName:{
                    validators: {
                        notEmpty: {//非空验证：提示消息
                            message: '昵称不能为空'
                        }
                    }
                },
                pwd:{
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                }
            }
        }).on('success.form.bv', function(e) {//点击提交之后
            e.preventDefault();
            var $form = $(e.target);
            var bv = $form.data('bootstrapValidator');
            $.ajax({
                url:'/user/create',
                type:'POST',
                dataType:'json',
                xhrFields: {
                    withCredentials: true
                },
                data:{
                    nickName:$('#nickName').val().trim(),
                    password:$('#pwd').val().trim()
                },
                success:function(result){
                    getList(1,10);
                    $('#createModal').modal('hide');
                    $('#nickName').val('')
                    $('#pwd').val('')

                }
            })
        });
    })
    function getList(pageIndex,pageSize){
        $.ajax({
            url:'/user/list',
            type:'POST',
            dataType:'json',
            xhrFields: {
                withCredentials: true
            },
            data:{
                pageIndex:pageIndex,
                pageSize:pageSize,
                nickName:$('#searchName').val().trim(),
                name:$('#searchName1').val().trim()
            },
            success:function(result){
                console.log(result)
                $("#list").empty();
                $("#item").tmpl(result.data).appendTo("#list");
                laypage({
                    cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                    pages: Math.ceil(result.totalCount / pageSize), //通过后台拿到的总页数
                    curr: pageIndex || 1, //当前页
                    skip: true, //是否开启跳页
                    skin: '#007cdb',
                    jump: function(obj, first) { //触发分页后的回调
                        if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                            getList(obj.curr, pageSize);
                        }
                    }
                });
            }
        })
    }
    function edit(id){
        $('#editModal').modal('show');
        $('#edit_form').bootstrapValidator({
            fields:{
                password:{
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                }
            }
        }).on('success.form.bv', function(e) {//点击提交之后
            e.preventDefault();
            var $form = $(e.target);
            var bv = $form.data('bootstrapValidator');
            $.ajax({
                url:'/user/edit/'+id,
                type:'POST',
                dataType:'json',
                xhrFields: {
                    withCredentials: true
                },
                data:{
                    password:$('#password').val().trim()
                },
                success:function(result){
                    getList(1,10);
                    $('#editModal').modal('hide');
                    layer.msg('修改成功');
                    $('#password').val('')
                }
            })
        });
    }
    function remove(id){
        layer.confirm('您确定要删除改用户吗？', {
            btn: ['确定', '取消'],
            title: '操作'
        },function(index){
            $.ajax({
                url:'/user/delete/'+id,
                type:'POST',
                dataType:'json',
                xhrFields: {
                    withCredentials: true
                },
                success:function(result){
                    getList(1,10);
                    layer.close(index)
                }
            })
        },function () { })
    }
</script>
</body>
</html>