<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/fonts/iconfont.css">
    <link rel="stylesheet" href="/css/wap.css">
</head>
<body>
<section class="page">
    <section class="content" >
        <div class="video_wrap">

        </div>
        <div class="chat_wrap">
            <div class="title">
                    <span>
                        <i class="iconfont icon-taolun"></i>
                        讨论版块
                    </span>
            </div>
            <ul class="chat_list">
                <li>
                    <i class="iconfont icon-yonghu"></i>
                    <div class="desc_wrap">
                        <div class="clearfix">
                            <span class="ren pull-left">张世果</span>
                            <span class="time pull-right">2018.02.12</span>
                        </div>
                        <div class="desc">
                            通过基于团队的学生上台讲演和课程讨论这种体验式教学方式加深对所学线性与非线性不同数据结构工作原理的理解
                        </div>
                    </div>
                </li>
                <li>
                    <i class="iconfont icon-yonghu"></i>
                    <div class="desc_wrap">
                        <div class="clearfix">
                            <span class="ren pull-left">张世果</span>
                            <span class="time pull-right">2018.02.12</span>
                        </div>
                        <div class="desc">
                            通过基于团队的学生上台讲演和课程讨论这种体验式教学方式加深对所学线性与非线性不同数据结构工作原理的理解
                        </div>
                    </div>
                </li>
                <li>
                    <i class="iconfont icon-yonghu"></i>
                    <div class="desc_wrap">
                        <div class="clearfix">
                            <span class="ren pull-left">张世果</span>
                            <span class="time pull-right">2018.02.12</span>
                        </div>
                        <div class="desc">
                            通过基于团队的学生上台讲演和课程讨论这种体验式教学方式加深对所学线性与非线性不同数据结构工作原理的理解
                        </div>
                    </div>
                </li>
                <li>
                    <i class="iconfont icon-yonghu"></i>
                    <div class="desc_wrap">
                        <div class="clearfix">
                            <span class="ren pull-left">张世果</span>
                            <span class="time pull-right">2018.02.12</span>
                        </div>
                        <div class="desc">
                            通过基于团队的学生上台讲演和课程讨论这种体验式教学方式加深对所学线性与非线性不同数据结构工作原理的理解
                        </div>
                    </div>
                </li>
                <li>
                    <i class="iconfont icon-yonghu"></i>
                    <div class="desc_wrap">
                        <div class="clearfix">
                            <span class="ren pull-left">张世果</span>
                            <span class="time pull-right">2018.02.12</span>
                        </div>
                        <div class="desc">
                            通过基于团队的学生上台讲演和课程讨论这种体验式教学方式加深对所学线性与非线性不同数据结构工作原理的理解
                        </div>
                    </div>
                </li>
                <li>
                    <i class="iconfont icon-yonghu"></i>
                    <div class="desc_wrap">
                        <div class="clearfix">
                            <span class="ren pull-left">张世果</span>
                            <span class="time pull-right">2018.02.12</span>
                        </div>
                        <div class="desc">
                            通过基于团队的学生上台讲演和课程讨论这种体验式教学方式加深对所学线性与非线性不同数据结构工作原理的理解
                        </div>
                    </div>
                </li>
                <li class="li1">
                    <i class="iconfont icon-yonghu"></i>
                    <div class="desc_wrap">
                        <div class="clearfix">
                            <span class="ren pull-left">张世果</span>
                            <span class="time pull-right">2018.02.12</span>
                        </div>
                        <div class="desc">
                            通过基于团队的学生上台讲演和课程讨论这种体验式教学方式加深对所学线性与非线性不同数据结构工作原理的理解
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </section>
    <footer class="footer">
        <input class="input_control" type="text" placeholder="一起来分享学习心得吧！"/>
        <button class="btn">发起评论</button>
    </footer>
</section>
<script src="/js/zepto.min.js"></script>
<script>
    $('.li1').get(0).scrollIntoView();
</script>
</body>
</html>